.image {
  display: block;
  width: 200px;
  height: 200px;
  margin:8px
}
.loading:not(.error) {
  animation: loading 150ms ease-in-out;
}
.error {
  content: url("");
}
@keyframes loading {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
